.example-spacer {
    flex: 1 1 auto;
}

.logo {
  cursor: pointer;
}

.main-section {
  height: 100vh;
}

mat-nav-list {
    .mat-nav-item {
      display: flex;
      flex-direction: row ;
      padding: 1rem;
      cursor: pointer;

      mat-icon {
        margin-right: 5px;
      }
    }
}


